@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
  font-style: normal;
  font-family: 'Cabin', sans-serif;
  font-weight: lighter;
}

.login-button {
  align-self: flex-end;
  padding: 16px 32px;
  margin: 8px;
}

.top-bar {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 95vw;
}

.title-text {
  font-size: xxx-large;
}

.fork-main {
  font-size: 140px;
}

#slogan {
  font-size: 46px;
}

.text-box {
  background-color: gainsboro;
  padding: 6px;
  margin: 8px 4px;
  border-style: solid;
  border-color: transparent;
  border-radius: 6px;
  outline: none;
}

.text-box:focus {
  border-color: #3333;
  border-style: solid;
  background-color: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  justify-content: center;
}

.profile {
  min-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  color: #DDAFF9;
}

.options {
  display: flex;
  flex-direction: row;
  min-width: 10vw;
  justify-content: space-between;
}

.fork-home {
  font-size: 88px;
}

.login {
  margin: 60px 0;
}

.circle-1 {
  position: absolute;
  right: 33%;
  top: 15%;

  animation: wobble-1 ease-in-out 6s infinite;
}

@keyframes wobble-1 {
  0% {transform: translateY(0)}
  50% {transform: translate(-3px,-8px) scale(1.1)}
  100% {transform: translateY(0)}
}

.circle-2 {
  position: absolute;
  right: 30%;
  top: 13%;

  animation: wobble-2 ease-in-out 5s infinite;
}

@keyframes wobble-2 {
  0% {transform: translateY(0)}
  50% {transform: translate(5px,-4px) scale(1.1)}
  100% {transform: translateY(0)}
}

.circle-3 {
  position: absolute;
  right: 27%;
  top: 16%;
  animation: wobble-3 ease-in-out 4s infinite;
}

@keyframes wobble-3 {
  0% {transform: translateY(0)}
  50% {transform: translate(-2px,-7px) scale(0.9)}
  100% {transform: translateY(0)}
}

.bg-blob {
  position: relative;
  animation: pulse ease-in-out 4.5s infinite;
}

@keyframes pulse {
  0% {transform: translate(0, 0)}
  50% {transform: translate(0, -6px)}
  100% {transform: translate(0, 0)}
}

